{% extends 'base.html' %}
{% block content %}
<h1> about Us!!!</h1>

Ojas is a Cost Effective IT Services Company with 11 years of rich experience in serving its customers with a team of 700+ IT Professionals. We’re one of the fastest growing companies in India providing Services in Application Dev & Support, Identity Governance, Testing Services, Mobile Dev & Testing, Staff Augmentation and Staffing Services to our customers.

We offer our services from our ODC in Hyderabad, India and cater to US, Canada and Australia.

Our Vision & Mission
“To become a reliable cost-effective IT Services Partner to our Global Customers and to create a conducive environment for employees to contribute in OJAS growth through continuous learning.”

<h1>Our Core Values</h1>
<ol>
<li>PEOPLE FIRST – Attention. Affection. Appreciation.</li>
<li>ATTITUDE OF GRATITUDE – Be Thankful.</li>
<li>NO FREE LUNCH – Nothing comes free.</li>
<li>CONTINUOUS LEARNING – Learning only makes us relevant in this world.</li>
<li>EMBRACE CHANGE – Change is constant.</li>
<li>PURSUE EXCELLENCE – Doing right, first time.</li>
    <li>INCLUSIVE GROWTH – ‘WIN-WIN' is the only way for growth.</li></ol>

<h1>Our Dream</h1>
To become a 100 Cr INR Revenue company by FY22

We at Ojas believes that everything starts with Dreaming. All that we see in this world is created twice - first in our Brain and secondly in Reality. So We are dreaming to achieve a Revenue of 100 Crore INR by 2021.
{% endblock  %}