{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center> <h1>DevOps Course Overview</h1></center><br>
This DevOps Training is to make an individual expert in all DevOps Concepts form the Basics. This  Course is Provided by the Real-Time professionals to make you understand the Real-Time IT Scenario’s and Problems.
DevOps Training makes you master in the various aspects of the principles of continuous development and deployment, software development operations, continuous integration, automation of configuration management and learn the various tools like Git, Docker, Jenkins, Nagios, Puppet, Ansible and Kubernetes.

Objectives of the Course
To understand the DevOps Concepts and DevOps Tools
Deploying the main DevOps tools
To implement automated system update and DevOps lifecycle
To understand virtualization and performance
Providing the perfect security for the entire infrastructure
Pre-requisites
Basic knowledge of object-oriented programming is enough
</body>
</html>
{% endblock %}