{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1>Core Java Training Overview</h1></center>
<strong>This Core Java Training is by the Real-Time Professionals and Teaching Experts.</strong>

Entire SCJP syllabus will be covered
Every program execution will be explained with Compiler and JVM Architectures
Every program memory diagram will be clearly explained with JVM Architecture
1000+ Programs will be covered in training as well as in practice material
Entire list of interview questions will be covered on every concept
Every concept will be clearly explained with real-time project scenarios
Every concept will be explained with MVC and LC-RP Architectures
Therefore you will get good knowledge in designing and developing projects
So that you can clear all interviews as a fresher or as an experienced
</body>
</html>
{% endblock %}